
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lora&family=Playfair+Display:wght@600&family=Poppins:ital,wght@0,600;0,800;0,900;1,600&family=Roboto:wght@400;500;700&family=Titillium+Web:ital,wght@1,200&family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 50 0;
    /* margin-top: 2px; */
    /* background: crimson; */
    font-family: 'Ubuntu','sans-serif';
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 9px 0;
    background: crimson;
}
.navbar.sticky .menu li a:hover{
    color: white;
}
.navbar .max-width{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600 ;
}
.navbar .logo a span{
    color: crimson;
}
.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;

}
.navbar .menu li a:hover{
    color: crimson;
    /* font-size: 23px; */

}
.menu-btn{
    color: white;
    cursor: pointer;
}
.home{
    display: flex;
    background: url('Untitled design (4).png'),no-repeat center;
    /* background-color: black; */
    height: 100vh;
    /* width:50%; */
    color: white;
    /* min-height: 500px; */
    font-family: 'ubuntu','sans-serif';
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
color: crimson;
font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding:  12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;

}
.home .home-content a:hover{
    color: white;
    background: none;
}
/* .max-width{
    max-width: 800px;
} */

 


@media (max-width: 1300px){
   
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
    height: 400px;
    width: 400px;
    }
}
@media (max-width: 991px){
   .max-width{
    padding: 0 50px;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
      }
    .about .about-content .right{
        flex: 100%;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black ;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;

    } 
    .navbar .menu.active{
        left: 0%; 
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size:  25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 40px;
        margin: 5px 0;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media (max-width: 690px){

    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
        /* margin: 5px 0; */
    }
    .home .home-content a{
        font-size: 23px;
        padding: 8px 25px;
    }
      .menu-btn{
        display: block;
        z-index: 999;
      }
   
}

@media (max-width: 500px){
   
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
        /* margin: 5px 0; */
    }
    .home .home-content a{
        font-size: 23px;
        padding: 5px 2px;
        
    }
    .services .serv-content .card{
        width: 100%;
    }
     .menu-btn{
        display: block;
        z-index: 999;
     }
    
    
}
section{
    padding: 100px 0;
}
.about, .services{
    font-family: 'Ubuntu',sans-serif;
}
.about .title{
    /* margin: 2px; */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 44px;
    font-size: 40px;

}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 180px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
/* .about .title::after{
    content: "Who i am";
    position: absolute;
    bottom: -7px;
    left: 50%;
   font-size: 20px;
   color: crimson;
    padding: 5px;
    background: rgb(250, 245, 245);
    transform: translateX(-50%);
} */
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding:  10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}
.services{
    background: black;
    color: white;
}
.services .title{
    text-align: center;
    padding-bottom: 90px;
}
.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* color: white; */
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: grey;
    text-align: center;
    border-radius: 6px;
    padding:20px 25px;
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    transform: scale(1.05);
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}

.skills{
    background: rgb(250, 250, 250);
    font-family: 'Ubuntu',sans-serif;
}
.skills .skills-content .column {
    width: calc(50% -30px);
}
.skills .skills-content .left .text{
font-size: 25px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    margin: 5px;
    background-color: rgb(136, 135, 135);
    position: relative;
}
    
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 90%;
    left: 0;
    top: 0;
    background: crimson;

}
.skills .skills-content .right .m::before{
    width: 90%;
}
.skills .skills-content .right .html::before{
    width: 80%;
}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .js::before{
    width: 60%;
}
.skills .skills-content .right .ds::before{
    width: 70%;
}

.skills .skills-content .left p{
    text-align: justify;
}

.teams{
    font-family: 'Ubuntu',sans-serif;
}
.teams .title{
    text-align: center;
}
.teams{
    color: white;
    background: black;
    
}
.teams .carosusel .card{
background: darkgray;
border-radius: 6px;
padding: 25px 35px;


/* border: 2px solid white; */
}
.teams .carosusel .card .box{
display: flex;
flex-direction: column;
/* flex-wrap: nowrap; */
align-items: center;
justify-content: center;
}
.teams .carosusel .card .text{
    font-size: 25px;
    font-weight: 500;

}
.teams .carosusel .card:hover{
    background: crimson;
}
.teams .carosusel .card img{
    height: 25%;
    width: 25%;
    object-fit: cover;
    border: 2px solid white;

}
.teams .carosusel .card img:hover{
    border: cyan;
}

.contact{
    font-family: 'Ubuntu',sans-serif;
}
.contact  .column {
    width: calc(50% - 30px);
}

.contact  .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact  .left p{
text-align: justify;
}

.contact  .left .icons{
    margin: 10px 0;
}

.contact  .row{
    display: flex;
    height: 65px;
    align-items: center;

}
.contact  .row .info{
    margin-left: 30px;
}
.contact  .row  i{
    font-size: 25px;
    color: crimson;
}
.contact .info .head{
    font-weight: 500;
}
.contact .info .sub-title{
    color: grey;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .fields{
   height: 45px;
   width: 100%;
}
.contact .right form .fields input{
    height: 100%;
    width: 100%;
    border:1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .textarea{
    height: 80px;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
 
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}
footer{
    background: rgb(36, 34, 34);
    padding: 20px 23px;
    color: white;
    text-decoration: none;
}
footer span a{
    color: crimson;
}
.work{
    color: white;
    background-color: #111;
}

.work .title::before{
    color: white;
    background: black;
}
.work .title::after{
    background-color:black;
    content: "Work by me";
}
.work .work-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 40px;
}
.work .work-content .card {
    width: calc(33% - 20px);
    background:url(game.png);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 225px;
}
.work .work-content .card1{
    width: calc(33% - 20px);
    background:url(management.png);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 225px;
}
.work .work-content .card2{
    width: calc(33% - 20px);
    background:url(rand.jpg);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 225px;
}
.work .work-content .card3{
    width: calc(33% - 20px);
    background:url(filter.png);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 225px;
}
.work .work-content .card4{
    width: calc(33% - 20px);
    background:url(tt.png);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 225px;
}
.work .work-content .card5{
    width: calc(33% - 20px);
    background:url(gym.png);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    height: 225px;
}

.work .work-content .card:hover{
    transform: scale(1.05);
}
.work .work-content .card1:hover{
    transform: scale(1.05);
}
.work .work-content .card2:hover{
    transform: scale(1.05);
}
.work .work-content .card3:hover{
    transform: scale(1.05);
}
.work .work-content .card4:hover{
    transform: scale(1.05);
}
.work .work-content .card5:hover{
    transform: scale(1.05);
}

.work .work-content img{
    width: 100%;
    height: 152px;
}
.work .work-content .card .btn1{
    border-radius: 4px;
    background-color: red;
    color: yellow;
    cursor: pointer;
    padding: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.work .work-content .card .btn1:hover{
    transform: scale(1.20);
}
.work .work-content .card4 .btn4{
    border-radius: 4px;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 0);
    cursor: pointer;
    padding: 3px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.work .work-content .card4 .btn4:hover{
    transform: scale(1.50);
}