<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mayank's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{url_for('static', filename='img/my2.jpg') }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Mayank Verma</a></h1>
        <div class="social-links mt-3 text-center">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
          <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
          <a href="https://www.instagram.com/vmayank_007/" class="instagram" target="_blank"><i
              class="bx bxl-instagram"></i></a>
          <a href="https://github.com/MVerma44" class="google-plus" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/mayank-v-946404131/" class="linkedin" target="_blank"><i
              class="bx bxl-linkedin"></i></a>
          <a href="mailto:vmayank.921@gmail.com" class="linkedin" target="_blank"><i class="bx bx-envelope"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
          <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Mayank Verma</h1>
      <p>I'm a <span class="typed" data-typed-items="Data Enthusiast, Developer, Data Analyst"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Data enthusiast pursuing bachelor's degree in Computer Science Engineering. Along
            with this having a keen interest in learning about new technologies. With this I also work as an open-
            source contributor. I enjoy working in a
            collaborative environment and I'm also comfortable working as an
            individual. The fields of data science and machine learning intrigues me
            more. Have a great balance between technical as well as management
            side.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{url_for('static', filename='img/my2.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Data Analyst &amp; Python Developer.</h3>
            <p class="fst-italic">
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17 Feb 2003</span></li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9691983870</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Indore, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Undergraduate</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>vmayank.921@gmail.com</span>
                  </li>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                </ul>
              </div>
            </div>
            <p>
              Titles: Technical Head at MUACM, Head of ML/AI/DS Department, Open Source Contributor, Management &
              Marketing Executive.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">HTML /CSS /Flask <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Statistics <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Data Analytics <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Mx-Excel <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL- MYSQL <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Mayank Verma</h4>
              <p><em>Developer and deadline-driven Data Analyst with 6 months of experience analyzing and finding
                  insights from the data. Understanding the business requirements and come up with solutions of the
                  client.</em></p>
              <ul>
                <!-- <li>Portland par 127,Orlando, FL</li> -->
                <li>+91 9691983870</li>
                <li>vmayank.921@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>B.Tech in Computer Science and Engineering</h4>
              <h5>2020 - 2024</h5>
              <p><em>Medi-Caps University, Indore</em></p>
              <!-- <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>-->
            </div>
            <div class="resume-item">
              <h4>High School</h4>
              <h5>2019 - 2020</h5>
              <p><em>ST. Joseph's School, Indore</em></p>
              <p>PCM, Percentage:- 90%</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Technical Head</h4>
              <h5>2021 - 2022</h5>
              <p><em>Medi-Caps University ACM Student Chapter</em></p>
              <ul>
                <li>MUACM provides you a platform to explore, experience and contribute
                  to the computing world globally. </li>
                <li>Responsible for managing website and discord server. </li>
                <li>Kept a check on all technical things regarding mails and
                  certificates of the events. </li>
                <li>Organized technical events and hands on project sessions. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>AI|ML|DS Student Mentor</h4>
              <h5>2021 - 2022</h5>
              <p><em>Student's Technical &amp; Innovation Club</em></p>
              <ul>
                <li>Club which encompasses activities tangential to the engineering sciences and evolves constantly with
                  the student community which drives it.</li>
                <li>Guided students regarding AI|ML|DS.</li>
                <li>Took workshop on Data Science.</li>
                <li>Worked on real world project.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="resume_btn">
        <button class="common btn btn-lg"
          onClick="javascript:window.open('https://drive.google.com/file/d/1SJ8j-T6QNueOAUV34-Vv3aEzY1sTIJCW/view', '_blank');"
          type="button" target>Resume</button>
      </div>
    </section><!-- End Resume Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>

          <section class="home">
            <div class="home_container row">
              <div class="home_img col-lg-6">
                <video
                  src="https://ik.imagekit.io/3q71ttwh2xv/12-49-46_R2UOGGSuC.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1658215422348"
                  loop autoplay muted controls class="video"></video>
              </div>

              <div class="home_data col-lg-6">
                <h1 class="home_title">Data Analysis of IPL Dataset</h1>
                <div class="home_description">
                  I have performed Exploratory Data Analysis on the IPL Dataset and extracted meaningful insights from
                  the data which will help to know more about teams and players and their performance throughout the IPL
                  history.
                </div>
                <button class="common btn btn-sm mybtn" type="button"
                  onClick="javascript:window.open('https://github.com/MVerma44/IPL-Data-Analysis', '_blank');">GitHub
                  Repo
                </button>
              </div>
            </div>

            <div class="home_container row">
              <div class="home_img col-lg-6">
                <video
                  src="https://ik.imagekit.io/3q71ttwh2xv/Portfolio/ipl_report_KcJ0OValW.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1659169346188"
                  loop autoplay muted controls class="video"></video>
              </div>

              <div class="home_data col-lg-6">
                <h1 class="home_title">IPL Dashboard using Power BI</h1>
                <div class="home_description">
                  Created Dashboard using Microsoft Power BI, an open source tool for data visualization and creating reports.
                </div>
                <button class="common btn btn-sm mybtn" type="button"
                  onClick="javascript:window.open('https://github.com/MVerma44/Power-BI', '_blank');">GitHub
                  Repo
                </button>
              </div>
            </div>

            <div class="home_container row">
              <div class="home_img col-lg-6">
                <video
                  src="https://ik.imagekit.io/3q71ttwh2xv/Portfolio/mask_detection_edBcj604kG.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1659164451116"
                  loop autoplay muted controls class="video"></video>
              </div>

              <div class="home_data col-lg-6">
                <h1 class="home_title">Mask Detection</h1>
                <div class="home_description">
                  In this project, the face of a person is detected with the help of the Voila Jones Algorithm. To
                  classify whether a person wears the mask or not we use Support Vector Machine (SVM) and Principal
                  Component Analysis (PCA) to reduce the number of dimensions for better accuracy and prediction.
                </div>
                <button class="common btn btn-sm mybtn" type="button"
                  onClick="javascript:window.open('https://github.com/MVerma44/mask-detection', '_blank');">GitHub Repo
                </button>
              </div>
            </div>
            <div class="home_container row">
              <div class="home_img col-lg-6">
                <video
                  src="https://ik.imagekit.io/3q71ttwh2xv/Portfolio/discord1_T0WadQKDn.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1659166459203"
                  controls class="video"></video>
              </div>

              <div class="home_data col-lg-6">
                <h1 class="home_title">Discord Bot</h1>
                <div class="home_description">
                  I have created a discord bot that is capable of performing tasks which can be seen in the video. The most exciting feature I have added is 'Music Player' to the bot. The complete coding of the bot is in core Python and used APIs for Trivia and Quotes.
                </div>
                <button class="common btn btn-sm mybtn" type="button"
                  onClick="javascript:window.open('https://github.com/MVerma44/discord-bot', '_blank');">GitHub Repo
                </button>
              </div>
            </div>

            <div class="home_container row">
              <div class="home_img col-lg-6">
                <video
                  src="https://ik.imagekit.io/3q71ttwh2xv/Portfolio/gui_cal_Trim_8Nd5-qpp3.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1659169943715"
                  loop autoplay muted   controls class="video"></video>
              </div>

              <div class="home_data col-lg-6">
                <h1 class="home_title">GUI Calculator</h1>
                <div class="home_description">
                  Calculator create from Tkinter, capable of performing basic mathematical operations.
                </div>
                <button class="common btn btn-sm mybtn" type="button"
                  onClick="javascript:window.open('https://github.com/MVerma44/calculator', '_blank');">GitHub
                  Repo
                </button>
              </div>
            </div>
            <div class="home_container row">
              <div class="home_img col-lg-6">
                <video
                  src="https://ik.imagekit.io/3q71ttwh2xv/Portfolio/number_guess_uFOAuXysPB.mp4?ik-sdk-version=javascript-1.4.3&updatedAt=1659168964788"
                  loop autoplay muted controls class="video"></video>
              </div>

              <div class="home_data col-lg-6">
                <h1 class="home_title">Number Guess</h1>
                <div class="home_description">
                  <!--  -->
                </div>
                <button class="common btn btn-sm mybtn" type="button"
                  onClick="javascript:window.open('https://github.com/MVerma44/number-guess', '_blank');">GitHub
                  Repo
                </button>
              </div>
            </div>
          </section>

        </div>
      </div>
    </section>

    <!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>

          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>599/8 Nehru Nagar, Indore, MP, India</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>vmayank.921@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 9691983870</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.7893967724644!2d75.88368933999881!3d22.73606793582714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd44ceb8234b%3A0x8defda9e24a36cb2!2s599%2F8%2C%20Nehru%20Nagar%20Rd%20No%209%2C%20Near%20MIG%20Thana%2C%20Nehru%20Nagar%2C%20Indore%2C%20Madhya%20Pradesh%20452008!5e0!3m2!1sen!2sin!4v1658135453057!5m2!1sen!2sin"
                  frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="https://formspree.io/f/mzbwpdyo" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message">Your message has been sent. Thank you!</div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div><button type="submit" class="btn btn-danger">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div> 
      <div class="credits">
         All the links in the footer should remain intact. 
         You can delete the links only if you purchased the pro version. 
         Licensing information: https://bootstrapmade.com/license/ 
         Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ 
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> 
      </div>
    </div>
  </footer>-->
  <!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/typed.js/typed.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>